form {
  text-align: center;
  margin: 2rem;

  & input[type='text'] {
    font-size: 2em;
    border-radius: 5px;
    border: 1px lightgray solid;
    padding: 0.2em;
    width: 80%;
    &:focus {
      outline: none;
      border-color: green;
    }
  }
  input[type='submit'] {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    font-size: 2em;
  }
}

.people {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (min-width: 1300px) {
    grid-template-columns: repeat(5, 1fr);
  }
  grid-gap: 1em;
  width: 80%;
  margin: 0 auto;
  & .person {
    width: 12em;
    height: 12em;
    background-color: lightgray;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    &:hover {
      & .history {
        display: flex;
      }
    }
    & .name {
      color: white;
      display: block;
      text-align: center;
      font-size: 1.6em;
      font-weight: bold;
    }
    & .amount {
      color: green;
      display: block;
      text-align: center;
      font-size: 1em;
    }
    & .history {
      display: none;
      width: 100%;
      height: 100%;
      overflow: scroll;
      position: absolute;
      top: 0;
      background: rgba(255, 255, 255, 0.8);
      padding: 1em 0;
      flex-direction: column;
      align-items: center;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
      & .inc {
        color: red;
        background: rgba(255, 0, 0, 0.2);
      }
      & .dec {
        color: green;
        background: rgba(0, 255, 0, 0.1);
      }
      & .inc,
      .dec {
        text-align: center;
        margin: 0.2em;
        padding: 0.1em 0.2em;
        border-radius: 2px;
      }
    }
  }
}
